#footer{
    background: #ffffff; color: rgb(27, 27, 27)
}

#footer_content{
    background: #111111; padding: 50pt 0; color: white; margin: 50pt 0pt;
}

.footer_nav{
    border-top: 1pt solid rgb(226, 226, 226); padding-top: 10pt; padding-bottom: 10pt; background: #ffffff27; 
}

.footerLink {
    color: #2c2c2c; font-size: 11pt; text-decoration: none;
}   

.textbox{
    border: none;
    font-size: 13pt;
    padding: 10pt;
}

#Link{
    color: rgb(17, 7, 7);
    font-size: 14pt;
}

#Link:hover{
    color: rgb(92, 25, 155);
}


@media screen and (max-width: 1000px) {

    #footer_content{
        background: #111111; padding: 50pt 0; color: white; margin: 60pt 0pt;
    }

    #container-fluid{
        max-width: 300pt ;
    }

}