/* Navbar section */
.topBar{
    background: rgb(250, 250, 250);
    border-bottom:1pt solid rgba(165, 165, 165, 0.479);
}

#ul{
    margin-left: 600px;
    padding: 5pt 0;
}

@media screen and (max-width: 1000px) {
    #ul{
        margin-left: 0px;
        padding: 5pt 0;
        padding:10pt;
    }

    .contact{
        color: white;
        padding: 10pt 20pt;
        border-radius: 24pt;
        border: none;
        background: #9b00fb;
    }
}

.alink{
    color:#7641d8;
    padding: 10pt 10pt;
    text-decoration: none;
    font-weight: thin;
    font-size: 12pt;    
}
.link {
    color:rgb(20, 20, 20);
    padding: 10pt 10pt;
    text-decoration: none;
    font-weight: thin;
    font-size: 12pt;
}

.link:hover{
    color:#7641d8;
}
/* Navbar section end */

/*cover section */

.cover{
    background-image: url(images/cover/cover3.jpg);
    padding: 110px 0 ;
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    text-align: left;
}

.contact{
    color: white;
    padding: 10pt 20pt;
    border-radius: 24pt;
    border: none;
    background: #9b00fb;
}