/* Navbar section */
.topBar{
    background: rgba(255, 255, 255, 0.966);
    border-bottom:1pt solid rgba(95, 95, 95, 0.158);
}

#ul{
    margin-left: 500px;
    padding: 7pt 0;
}

@media screen and (max-width: 1000px) {
    #ul{
        margin-left: 0px;
        padding: 5pt 0;
        padding:10pt;
    }

    .contact{
        color: white;
        padding: 10pt 20pt;
        border-radius: 24pt;
        border: none;
        background: #9b00fb;
    }
}

.alink{
    color:#7641d8;
    padding: 10pt 10pt;
    text-decoration: none;
    font-size: 11pt;
}
.link {
    color:rgb(34, 34, 34);
    padding: 10pt 10pt;
    text-decoration: none;
    font-size: 11pt;
    font-weight: regular;
}


.link:hover{
    color:#7641d8;
}


/*cover section */

.cover{
    background-image: url(images/cover/cover5.jpg);
    padding: 140px 0 ;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    text-align: right;
}



.contact{
    color: white;
    padding: 10pt 20pt;
    border-radius: 24pt;
    border: none;
    background: #9b00fb;
}


@media screen and (max-width: 1000px) {
    .cover{
        background: rgb(26, 26, 26);
        color:white;
        padding: 120px 0 ;
        background-position: bottom;
        background-size: cover;
        background-attachment: fixed;
        text-align: center;
    }

    


} 